.articles-container {
    display: flex;
    flex-wrap: wrap;
}

.article {
    flex: 1 0 calc(50% - 10px); 
    margin: 5px; 
    background: red;
    border-radius: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    cursor: pointer;
}

.article:first-child {
    flex: 1 0 calc(100% - 10px);
    color: black;
    background: #e9e9e9 url("../img/home/papayaphone1pro.png") no-repeat center/cover;
    display: flex;
    min-height: 60vh;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
}

.article h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 1.3rem;
    margin-block-end: 0;
    padding: 0;
}

.article p {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.article:nth-child(2) {
    background: rgb(245, 245, 247) url("../img/home/papayaphone1.png") no-repeat center/cover;
    min-height: 50vh;
}

.article:nth-child(3) {
    background: rgb(245, 245, 247) url("../img/home/papayabookpro.png") no-repeat center/cover;
    min-height: 50vh;
}

.article:nth-child(4) {
    background: rgb(245, 245, 247) url("../img/home/papayawatch.png") no-repeat center/cover;
    min-height: 55vh;
}

.article:nth-child(5) {
    background: rgb(245, 245, 247) url("../img/home/papayapods.png") no-repeat bottom/cover;
    min-height: 55vh;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.video-container video {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}