@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

::selection {
    background: #c52f1e;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(197,47,30,1) 21%, rgba(225,103,44,1) 53%, rgba(237,134,51,1) 100%);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 15px #000;
    z-index: 999;
    transition: .3s
}

header.sticky {
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 0 2px 15px #000;
    z-index: 999;
}

.header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin: 0 10px;
    text-transform: uppercase;
    position: relative;
}

.header nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 0.05rem;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    transition: .3s ease;
}

.header nav ul li a:hover::after {
    width: 50%;
    transition: .3s ease;
}

.header img {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    outline: 0;
    transition-duration: .3s;
}

.header.sticky img{
    width: 35px;
    height: 35px;
}

.header img:nth-child(1) {
    width: 85px;
    height: 80px;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    outline: 0;
    transition-duration: .3s;
}

.header.sticky img:nth-child(1) {
    width: 65px;
    height: 60px;
}

.header img:nth-child(1):hover, .header img:hover {
    transform: scale(1.05);
    transition-duration: .3s;
}

.wave-container {
    position: relative;
    width: 100%;
    margin-top: 6rem;
    height: 80vh;
    background: url("../img/header.jpeg") no-repeat center/cover;
    z-index: -1;
}

.wave {
    position: absolute;
    bottom: -2px;
    width: 100%;
}

.main {
    height: 100%;
    margin: 0;
    padding: 1rem;
}

footer {
    background: linear-gradient(90deg, rgba(197,47,30,1) 21%, rgba(225,103,44,1) 53%, rgba(237,134,51,1) 100%);
    padding: 2rem;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    box-shadow: 0 2px 15px #000;
    z-index: 999;
}